@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');




*{
    margin: 0;
    padding: 0;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    
}

::-webkit-scrollbar{
    display: none;
}

#my-popover{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height:100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000088;

}

.login-container {
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    text-align: center;
    border: 2px solid black;
}

.login-header h2 {
    margin: 0;
    color: #333;
    font-size: 30px;
}

.login-header p {
    color: #777;
    margin-bottom: 2rem;
    font-size: 14px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    text-align: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

#login-form input {
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    transition: border-radius 0.3s;

}

#login-form input:focus {
    outline: none;
    border-color: black;
    border-radius: 25px;
    border: 1.5px solid black;
}

#login-form button {
    padding: 12px;
    background-color: #2dff22;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: border-radius 0.5s;
    transition: color 0.5s;
    transition: border 0.5s;


}

#login-form button:hover {
    background-color:rgb(51, 202, 56);
    color: black;
    border-radius: 10px;
    border: 1.5px solid black;
}

.login-footer {
    margin-top: 1.5rem;
    font-size: 14px;
}

.login-footer a {
    color: #6e8efb;
    text-decoration: none;
    font-weight: bold;
}

.login-footer a:hover {
    text-decoration: underline;
}

#my-popover::backdrop{

    filter: blur(50px);

}

#signup-container {
    width: 350px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.signup-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

#signup-form label {
    text-align: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

#signup-form input,
#signup-form select {
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#signup-form input:focus,
#signup-form select:focus {
    outline: none;
    border-color: #6e8efb;
}

#signup-form button {
    padding: 12px;
    background-color: #2dff22;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: border-radius 0.5s;
    transition: color 0.5s;
    transition: border 0.5s;


}

#signup-form button:hover {
    background-color:rgb(51, 202, 56);
    color: black;
    border-radius: 10px;
    border: 1.5px solid black;
}

.signup-footer {
    margin-top: 1.5rem;
    font-size: 14px;
}

.signup-footer:hover {
    text-decoration: underline;
    cursor: pointer;
}


a:-webkit-any-link{
    text-decoration: none;
    color: black;
}

#loader-container{
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.loader {
    width: 80px;
    aspect-ratio: 1;
    background: 
      radial-gradient(farthest-side at top,#0000 calc(100% - 21px),lightblue calc(100% - 20px) 99%,#0000) bottom/100% 50%,
      radial-gradient(farthest-side,lightblue 94%,#0000 ) left /20px 20px,
      radial-gradient(farthest-side,lightblue 94%,#0000 ) right/20px 20px;
    background-repeat: no-repeat;
    position: relative;
  }
  .loader::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    inset: auto 0 0;
    margin: auto;
    border-radius: 50%;
    background: orange;
    transform-origin: 50% -20px;
    animation: l14 1s infinite cubic-bezier(0.5,623,0.5,-623);
  }
  @keyframes l14 { 
   100% {transform: rotate(0.5deg)}
  }

.global-container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
}

  

header{
    width: 100%;
    background-color: #FFd700;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px 0;
}

.svg-divider {
    position: relative;
    width: 100%;
    height: 20px; /* Adjust this height to fit closer to the boundary */
    overflow: hidden; /* Ensures no overflow */
    background-color: transparent;
    margin-top: -5px; /* Adjust to make SVG overlap slightly with top section */
}

.svg-divider svg {
    width: 100%;
    height: auto;
    display: block;
}


.logo{
    width: 15%;
    margin-left:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

span{
    width: 100%;
   background-color: black;
   height: 2px;
   display: block;
}

.navbar{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 25px;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
    padding: 10px 25px;
}

ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

#login{
    padding: 5px 15px;
    font-size: 1.1rem;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    justify-content: flex-start;
    margin: 0 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 0px black;
    cursor: pointer;
}

.main{
    width: 100%;
    height: fit-content;
    background-color: #FFd700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    min-height: fit-content;
    width: 80%;
    text-align: left;
    margin-bottom: 50px;
}

.main-title{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 4rem; /* Large font for the heading */
    font-weight: 700; /* Bold heading */
    line-height: 1.2; /* Adjust line height for better spacing */
    margin-bottom: 0px; /* Space between heading and subtext */
}

.main-text p{
    text-align: center;
    font-size: 1.5rem; /* Smaller font for the subtext */
    color: #333; /* Slightly darker text for contrast */
    letter-spacing: 1px; /* Add some letter spacing */
    width: 100%;
    margin-bottom: 30px;
}

.main-img{
    margin-top: 20px;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img img{
    width: 400px;
    height: 400px;
}

.book-now{
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 3px 3px 0px black;
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color: #77f5ad;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-now:hover{
    transform: scale(1.03);
    box-shadow:0 0 0 black;
    cursor: pointer;
    
}



.second-main{
    padding: 50px 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(55, 214, 239);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.circle{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    margin: 0 50px;
    justify-content: space-between;
}

.circle img{
    padding: 8px;
    background-color: white;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.circle p{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    text-align: center;

}

.hero{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.card-container{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    height: fit-content;
    align-items: center;
}

.card{
    height: fit-content;
    width: 220px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    margin: 20px 0;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card img{
    width: 100%;
    height: fit-content;
    border-radius: 25px 25px 0 0;
    border: 1px solid black;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(128, 128, 128, 0.459);
}

.card h3{
    text-align: center;
    height: fit-content;
    text-wrap:wrap;
    font-size: 1.3rem;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    padding: 10px 0;
    letter-spacing: 0.5px;
}



.hero h2{
    font-size: 2rem;
    margin: 30px 0 10px 0;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif; /* Choose a modern font */
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}

.detail-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    border: 2px solid black;
    align-items: center;
    padding: 15px;
    font-size: 1.3rem;
    background-color: rgb(0, 255, 128);
    color:rgb(16, 45, 2);
}






.container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 30%;
    height: 20px;
    background-color: #ccc;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid black;
}

.seat-row {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.seat {
    width: 35px;
    height: 35px;
    background-color: #444;
    margin: 3px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-of-type(8){
    margin-right: 20px;
}
.seat.selected {
    background-color: #6c63ff;
}

.seat.occupied {
    background-color: #666;
    cursor: not-allowed;
}
